{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2 style="padding-top: 20px;">{{msg}}</h2>
        <form class="clearfix mb-4" action="POST">
            {{!-- <label for="example-description">Book Title</label> --}}
          
            <div class="body" align="center">
              <div class="autoComplete_wrapper form-outline w-100">
                <input style="height: 58px; width: 436px" id="autoComplete" type="text" tabindex="1">
              </div>
              <div class="mode">
                <h4>mode</h4>
                <div class="toggle">
                  <div class="toggler">Strict</div>
                </div>
              </div>
              <div class="selection"></div>
            </div>      
          {{!-- <button id="submit" class="btn btn-primary float-right">Submit</button> --}}
        </form>
        {{!-- <h4>Books I am looking for or Interested in:</h4> --}}
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{ nav/nav-block}}

<div class="container">
         <h1>Book Search</h1>
         {{!-- Code for the Dynamic Questions --}}
         <div id="surveyElement"></div>
              <div id="result"></div>
                  <div class="cardcontainer">
                      <div class="photo"> <img src="https://images.pexels.com/photos/2346006/pexels-photo-2346006.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500">
                 <div class="photos">Photos</div>
             </div>
             <div class="content">
                 <p class="txt4">Book Title</p>
                 <p class="txt5">Book Author</p>  
             </div>
             <div class="footer">
                 <p><a class="waves-effect waves-light btn" href="#">Read More</a><a id="heart"><span class="like"><i class="fab fa-gratipay"></i>Like</span></a></p>
                 <p class="txt3"><i class="far fa-clock"></i>10 Minutes Ago <span class="comments"><i class="fas fa-comments"></i>45 Comments</span></p>
             </div>
         </div>
     </div>
{{> modal/login-block}}
</div>

<script src="/assets/js/example.js"></script>

{{> modal/login-block}}

<script>
  var userId = {{userInfo.id}};
</script>
