{{> nav/nav-block user=true register=false}}
<div class="row py-5 px-4 mt-3">
  <div class="col-md-9 mx-auto" style="margin-bottom: -39px">
    <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head">
          <div class="profile mr-3"><img
              src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
              alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="#update"
              class="btn btn-outline-dark btn-sm btn-block">Edit User</a></div>
          <div class="media-body mb-5 text-white">
            <h4 class="mt-0 mb-0">{{userInfo.firstName}}</h4>
            <h5 class="mt-0 mb-0">{{userInfo.email}}</h5>
	    <span id="userId" data-currentId="{{userInfo.id}}"></span>
            <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i></p>
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i
                class="fas fa-user mr-1"></i>Followers</small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i
                class="fas fa-user mr-1"></i>Following</small>
          </li>
        </ul>
      </div>
      {{!-- <figure class="image-block">
        <h1>Book Title</h1>
        <img src="https://www.dhresource.com/260x260/f2/albu/g21/M01/6E/29/rBVaq2CLyuGAV-8dAAGxfAhLTfs629.jpg" alt="" />
        <figcaption>
          <h3>
            More Info
          </h3>
          <p>You can appened any book information here.</p>
          <!-- 		<button>
			More Info
		</button> -->
        </figcaption>
      </figure> --}}
    </div>
  </div>
</div>

<div class="mb-4" id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>{{msg}}</h2>
        <header align="center" class="header-wrap">
          <h3>Suggested Users:</h3>
        </header>
	<div class="friend-card"></div>


        {{!-- <form class="clearfix mb-4" action="GET">
            <div class="body" align="center">
              <div class="autoComplete_wrapper form-outline w-100">
                <input style="height: 58px; width: 436px" id="autoComplete" type="text" tabindex="1">
              </div>
              <div class="selectionFirst"></div>
            </div>  
        </form> --}}
        {{!-- <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>

<div class="mb-4" id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>{{msg}}</h2>
        <header align="center" class="header-wrap">
          <h3>My User Library</h3>
        </header>
        <div class="userLib-card"></div>


        {{!-- <form class="clearfix mb-4" action="GET">
            <div class="body" align="center">
              <div class="autoComplete_wrapper form-outline w-100">
                <input style="height: 58px; width: 436px" id="autoComplete" type="text" tabindex="1">
              </div>
              <div class="selectionFirst"></div>
            </div>  
        </form> --}}
        {{!-- <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>

<div class="mb-4" id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>{{msg}}</h2>
        <header align="center" class="header-wrap">
          <h3>What I'm currently reading</h3>
        </header>
        <div class="read-card"></div>



        {{!-- <form class="clearfix mb-4" action="GET">
            <div class="body" align="center">
              <div class="autoComplete_wrapper form-outline w-100">
                <input style="height: 58px; width: 436px" id="autoComplete" type="text" tabindex="1">
              </div>
              <div class="selectionFirst"></div>
            </div>  
        </form> --}}
        {{!-- <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>

<div class="mb-4" id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>{{msg}}</h2>
        <header align="center" class="header-wrap">
          <h3>Currently Reading:</h3>
        </header>
        <form class="clearfix mb-4" action="POST">
            <div class="body" align="center">
              <div class="autoComplete_wrapper form-outline w-100">
                <input style="height: 58px; width: 436px" id="autoComplete" class="validate" type="search" tabindex="1">
              </div>
              {{!-- <div class="selectionFirst"></div>
            </div>   --}}
        </form>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>{{msg}}</h2>
        {{!-- <header align="center" class="header-wrap">
          <h3>Select Top Books:</h3>
        </header>
        <form class="clearfix mb-4" action="POST">
            <div class="body" align="center">
              <div class="autoComplete_wrapper form-outline w-100">
                <input style="height: 58px; width: 436px" id="autoComplete" type="text" tabindex="1">
              </div>  --}}
              <h3  align="center" class="selection header-wrap"></h3>
            </div>  
        </form>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/getinfo.js"></script>
{{!-- <script src="/assets/js/example.js"></script> --}}
{{!-- <script src="/assets/js/profile.js"></script> --}}

{{> modal/login-block}}

<div id="update">
  <div class="container">
  <header align="center" class="header-wrap">
    <h3>View or update your user</h3>
    <div class="userId">
      {{!-- <h3>Welcome, {{userInfo.firstName</h3> --}}
      <h5 id="user-number" data-useremail="{{userInfo.email}}">Account email: {{userInfo.email}}</h5>
    </div>
    <h3 id="update-err-msg"></h3>
  </header>

  <form id="user-form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirst">First Name</label>
        <input style="color:white" type="text" class="form-control" id="inputFirst" value="{{userInfo.firstName}}" placeholder="John">
      </div>
      <div class="form-group col-md-6">
        <label for="inputLast">Last Name</label>
        <input style="color:white" type="text" class="form-control" id="inputLast" value="{{userInfo.lastName}}" placeholder="Doe">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword">Email</label>
        <input style="color:white" type="text" class="form-control" id="inputEmail" value="{{userInfo.email}}">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword">Password</label>
        <input style="white" type="password" class="form-control" id="inputPassword" value="{{userInfo.password}}">
      </div>
    </div>

    <button type="submit" id="update-user" data-id="{{userInfo.id}}" class="btn btn-primary">Update</button>
    {{#unless userInfo.isAdmin}}
    <button type="submit" id="delete-user" class="btn btn-primary">Delete</button>
    {{/unless}}
    <button type="submit" id="view-user" data-id="{{userInfo.id}}" class="btn btn-primary">Refresh</button>
</div>
</form>

<div class="modal" id="delete-user-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Re-Enter Credentials to delete user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <h3 id="err-msg"></h3>
        <form>
          <div class="form-group">
            <label for="userEmail">Email:</label>
            <input type="text" class="form-control" id="userEmail">
          </div>
          <div class="form-group">
            <label for="userPassword">Password:</label>
            <input type="password" class="form-control" id="userPassword">
          </div>
        </form>
      </div>


      <div class="modal-footer">
        <button id="confirm-delete" type="button" data-id="{{userInfo.id}}" class="btn btn-primary">Confirm
          Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nah I'll stay</button>
      </div>
    </div>
  </div>

</div>

  <!-- Footer -->
{{!-- <footer class="page-footer font-small purple darken-3">


  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-5">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a> 
      </div> --}}
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>


        <script src="/assets/js/profile.js"></script>
        <script src="/public/assets/js/getBooks.js"></script>

